<p id="notice"><%= notice %></p>

<p>
  <b>Ra:</b>
  <%= @floor.RA %>
</p>

<p>
  <b>Theme:</b>
  <%= @floor.theme %>
</p>


<%= link_to 'Edit', edit_floor_path(@floor) %> |
<%= link_to 'Back', floors_path %>
