<%= form_for(@housing) do |f| %>
  <% if @housing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@housing.errors.count, "error") %> prohibited this housing from being saved:</h2>

      <ul>
      <% @housing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="field">
    <%= f.label :floorNum %><br />
    <%= f.number_field :floorNum %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  <h3>Housing Preference</h3>
  <div class = "controls">

        <%= f.label(:rodin_pref, "Rodin") %>

        <%= f.check_box :rodin_pref %>

        <%= f.label(:harrison_pref, "Harrison") %>

        <%= f.check_box :harrison_pref %>
        <%= f.label(:harnwell_pref, "Harnwell") %>

        <%= f.check_box :harnwell_pref %>

        <%= f.submit("Enter") %>


  </div>
  <div class = "container">
  <h4>Fill in information about Floors</h4>
    <%= link_to "Click me", Floor %>
  </div>

<% end %>
