<h1>Listing housings</h1>

<table class= "table">
  <tr>
    <th>Floor</th>
    <th>Name</th>
    <th>Rodin</th>
    <th>Harrison</th>
    <th>Harnwell</th>


    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @housings.each do |housing| %>

  <tr>
    <td><%= housing.floorNum %></td>
    <td><%= housing.name %></td>
    <td><%= housing.rodin_pref %></td>
    <td><%= housing.harrison_pref %></td>
    <td><%= housing.harnwell_pref %></td>
    <td><%= link_to 'Show', housing %></td>
    <td><%= link_to 'Edit', edit_housing_path(housing) %></td>
    <td><%= link_to 'Destroy', housing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



<div class = "container-fluid">

  <span><button id = "help-button">Help</button>
      <span id="help"></span>
  </span>

</div>
<script src="/javascripts/jquery.js" type="text/javascript"></script>
<script src="/javascripts/jquery_ujs.js" type="text/javascript"></script >
<script>
    $(function() {
        var $btton = $("#help-button");
        var $help = $("#help");
        var isOn = false;

        $btton.click(function() {
            if (!isOn) {
                $help.text("Click 'New Housing' in order to register for more housing");
                isOn = true;
            }else {
                $help.text("");
                isOn = false;
            }

         });




    });
</script>

<p>Who wants to live in Rodin?<p>
<% @rooms.each do |room| %>
   <tr>
     <td><%= room.name %></td>

   </tr>
<% end %>
<br />

<%= link_to 'New Housing', new_housing_path %>
